
<ul class="users-listing">
    {{#link-to "users.create" class="create-btn"}} Add user {{/link-to}}
    <div>Users: {{usersCount}}</div>
    {{#each user in controller}}
    <li>
        {{#link-to "user" user}}
        {{user.name}}
        {{/link-to}}
    </li>
    {{else}}
        <li>no users… :-(</li>
    {{/each}}
    
    {{outlet}}
</ul>